/* REGOLE GENERALI */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


p {
  line-height: 168px;
}

/* DEBUG */

[class*="col-"] {
  background: pink;
  border: 1px solid black;
  height: 180px;
  text-align: center;
}

.nested {
  background: red;
}

.padding {
  padding: 5px;
}
